# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [6]:
# your code here
orders = pd.read_csv(r'C:\Users\hugoe\Desktop\LABS\lab-dataframe-calculations\your-code\Orders.csv')

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [10]:
orders.columns

Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'year', 'month', 'day', 'hour',
       'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID',
       'Country', 'amount_spent'],
      dtype='object')

In [12]:
# your code here
customer_spending = orders.groupby('CustomerID')['amount_spent'].sum().reset_index()
customer_spending.columns = ['customer_id', 'total_spent']
customer_spending.head()

   customer_id  total_spent
0        12346     77183.60
1        12347      4310.00
2        12348      1797.24
3        12349      1757.55
4        12350       334.40

In [32]:
percentile_75 = customer_spending['total_spent'].quantile(0.75)
percentile_75

1661.64

In [34]:
percentile_95 = customer_spending['total_spent'].quantile(0.95)
percentile_95

5840.181999999982

In [36]:
customer_spending['customer_type'] = 'Regular'  
customer_spending.loc[customer_spending['total_spent'] > percentile_95, 'customer_type'] = 'VIP'
customer_spending.loc[(customer_spending['total_spent'] > percentile_75) & 
                      (customer_spending['total_spent'] <= percentile_95), 'customer_type'] = 'Preferred'
customer_spending.head()

   customer_id  total_spent customer_type
0        12346     77183.60           VIP
1        12347      4310.00     Preferred
2        12348      1797.24     Preferred
3        12349      1757.55     Preferred
4        12350       334.40       Regular

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [42]:
# your code here
vip_customer_ids = customer_spending[customer_spending['customer_type'] == 'VIP']['customer_id']
vip_customer_ids

0       12346
10      12357
12      12359
50      12409
55      12415
        ...
4207    18109
4229    18139
4253    18172
4292    18223
4298    18229
Name: customer_id, Length: 217, dtype: int64

In [44]:
vip_orders = orders[orders['CustomerID'].isin(vip_customer_ids)]
vip_orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.0
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.0
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.0
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.2
30,30,536370,21883,2010,12,3,8,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France,15.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397883,541868,581584,85038,2011,12,5,12,6 chocolate love heart t-lights,48,2011-12-09 12:25:00,1.85,13777,United Kingdom,88.8
397905,541890,581586,22061,2011,12,5,12,large cake stand hanging strawbery,8,2011-12-09 12:49:00,2.95,13113,United Kingdom,23.6
397906,541891,581586,23275,2011,12,5,12,set of 3 hanging owls ollie beak,24,2011-12-09 12:49:00,1.25,13113,United Kingdom,30.0
397907,541892,581586,21217,2011,12,5,12,red retrospot round cake tins,24,2011-12-09 12:49:00,8.95,13113,United Kingdom,214.8
397908,541893,581586,20685,2011,12,5,12,doormat red retrospot,10,2011-12-09 12:49:00,7.08,13113,United Kingdom,70.8

In [48]:
vip_count_by_country = vip_orders['Country'].value_counts().reset_index()
vip_count_by_country.columns = ['Country', 'VIP_Customer_Count']
most_vip_country = vip_count_by_country.loc[vip_count_by_country['VIP_Customer_Count'].idxmax()]
most_vip_country

Country               United Kingdom
VIP_Customer_Count             84185
Name: 0, dtype: object

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [50]:
# your code here
preferred_customer_ids = customer_spending[customer_spending['customer_type'] == 'Preferred']['customer_id']

In [58]:
combined_customer_ids = pd.concat([preferred_customer_ids, vip_customer_ids])

In [60]:
combined_orders = orders[orders['CustomerID'].isin(combined_customer_ids)]

In [62]:
combined_count_by_country = combined_orders['Country'].value_counts().reset_index()
combined_count_by_country.columns = ['Country', 'VIP_Preferred_Customer_Count']

In [64]:
most_combined_country = combined_count_by_country.loc[combined_count_by_country['VIP_Preferred_Customer_Count'].idxmax()]
most_combined_country

Country                         United Kingdom
VIP_Preferred_Customer_Count            221635
Name: 0, dtype: object